<div class="content">
    <div class="row col-md-8 offset-md-2 content-inicio">
        <h1>
            <%= conteudoContato.titulo %>

        </h1>
        <form>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"><%= conteudoContato.nome %></label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><%= conteudoContato.email %></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><%= conteudoContato.texto %></label>
                <textarea class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary"><%= conteudoContato.button %></button>
        </form>
    </div>

</div>